/* These rules mostly tweak fixed print layouts, currently enforcing 16x9 layout,
like Bloom Reader, and overriding rules, mainly from previewMode.css, that we don't
want in this control.
Much of it could go away if we exclude previewMode.css, or if we end up with a server
process which produces an htm file in the Bloom Reader state, or if we re-architect so
there is some simple way like a root class to toggle a book's appearance to BR mode.*/
.pageSlider {
    counter-reset: pageNumber;
}

.bloomPlayer.bloomPlayer1 .pageSlider .contextPage .bloom-page {
    margin-left: 10%;
    width: 80%;
    margin-top: 10%;
    padding-top: calc(80% * 16 / 9); /* of width! */
    opacity: 0.6;
    background-color: darkgray;
}

.bloomPlayer.bloomPlayer1 .pageSlider .bloom-page {
    margin-left: 2%;
    width: 96%;
    margin-top: 2%;
    padding-top: calc(96% * 16 / 9); /* of width! */
    max-width: initial;
    min-width: initial;
    max-height: initial;
    min-height: initial;
}

/* Here we need a specificity of better than 0,0,4,0 to beat the rules
that usually set the size and position of marginBox.*/
.bloomPlayer.bloomPlayer1 .pageSlider .bloom-page .marginBox {
    width: 90%;
    height: 90%;
    position: absolute; /* inside massive padding that sets height of page */
    top: 5%;
    left: 5%;
}

/* the default positioning of these dots is inside the page area, but our pages overlap them.
Also, if there are more than will fit on a line, some drop outside the control altogether.
We just make them follow the main content normally. */
.bloomPlayer .slick-dots {
    position: relative;
    bottom: initial;
}

/* override the rule in bloom-preview that puts a border at the bottom of each page
to separate the pages in a continuous scrolling view. Unfortunately that rule is
!important so the only way to beat it is to be !important too. */
.bloomPlayer.bloomPlayer1 DIV.bloom-page {
    border-bottom: initial !important;
}

/* we're giving pages in this control less margin than in regular previews,
so we need the page number further down to reduce the chance of overlap. */
.bloomPlayer.bloomPlayer1 .numberedPage::after {
    bottom: 2px;
}

/* the reduced margin means we need to adjust the horizontal position to
align the page number with the margin, too. */
.bloomPlayer.bloomPlayer1 .numberedPage:nth-of-type(2n+1)::after {
    left: 5%;
}

/* logically we would need this to override the rule for right pages,
but actually in this control the pages don't have a common direct parent,
so nth-of-type doesn't do what we want and all the pages come out as left.
Not trying to solve this for now as we may want an architectural solution
that makes available to the control files more like Bloom Reader uses */
.bloomPlayer.bloomPlayer1 .numberedPage:nth-of-type(2n)::after {
    right: 5%;
}